@import '../../styles/vars.scss';

.feed-wrapper {
  margin: 10px;
}

.feed {
  height: 80vh;
  overflow-y: scroll;
  @include scrollStyle($mainColor, 8px);

  &__header {
    font-size: 20px;
    text-align: center;
  }

  &__news {
    display: flex;
    margin: 1px 0;
    padding: 10px;
    border: 1px solid $mainColor;
    border-radius: 4px;

    &--author {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

.feed__send-panel {
  &--form {
    display: flex;
    align-items: center;
  }

  &--button {
    height: 35px;
    width: 30px;
    background-color: $buttonColor;
    color: $buttonLabelColor;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }

  &--input {
    margin: 0;
    line-height: 30px;
    width: 100%;
  }

  &--wrapper {
    margin-top: 10px;
  }
}