@import '../../styles/vars.scss';

.header__user {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;

  &--name {
    line-height: 40px;
  }
}

.header__user--picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.dropdownmenu {
  position: absolute;
  display: none;
  min-width: 100px;
  right: 10px;
  margin-top: 21px;
  background-color: $secondHeaderColor;
  border-bottom: 1px solid $headerShadowColor;

  animation-name: openSubmenu;
  animation-duration: 1s;

  &__opened {
    display: block;
  }

  &:hover {
    display: block;
  } 

  &__item {
    padding: 5px 20px;
    text-align: end;
  }
}
