$headerColor: indianred;
$secondHeaderColor: white;
$headerShadowColor: rgba(174, 174, 220, 0.4);

$buttonColor: indianred;
$buttonLabelColor: white;

$inputBorderColor: rgba(174, 174, 220, 0.4);
