@import '../../styles/vars.scss';

header {
  height: 70px;
  padding: 5px 10px;
  background-color: $headerColor;
  border-bottom: 1px solid $headerShadowColor;

}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}